%content-center-partial {
    display: flex;
    line-height: 1em;
}

.content--center--v {
    @extend %content-center-partial;
    justify-content: center;
}

.content--center--h {
    @extend %content-center-partial;
    align-items: center;
}

.content--center {
    @extend .content--center--h;
    @extend .content--center--v;
}

.content__header--primary {
    font-size: 18px;
}

.content__header--secondary {
    color: #999;
    font-size: 16px;
}