@import 'layout/content';

.profile-tile {
    box-shadow: 0;
    height: $vertical-unit * 12;
    position: relative;
    text-align: center;
    transition: box-shadow 0.3s;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
}

.profile-tile:hover {
    -webkit-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.5) !important;
    -moz-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.5) !important;
    box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.5) !important;
}

.profile-tile__footer {
    @extend .content--center;

    height: $vertical-unit * 6;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profile-title__text--secondary {
    color: #999;
    font-size: 16px;
    margin: 10px 5px 10px 5px;
}

.profile-tile__footer__text {
    padding: .2em;
    max-height: 2.5em;
    overflow-y: hidden;
    background: linear-gradient(rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 2.1em, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
