{
    "env": {
        "browser": true,
        "amd": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "quotes": [2, "single"],
        "eol-last": [2],
        "no-mixed-requires": [0],
        "no-underscore-dangle": [0],
        "camelcase": 2,
        "dot-notation": [2,  {"allowPattern": "^[a-z]+(_[a-z]+)+$"}],
        "curly": 0,
        "no-unused-expressions": 0,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "comma-dangle": 0,
        "react/display-name": 0,
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],
        "no-mixed-spaces-and-tabs": 0,
        "strict": 0,
    },
    "ecmaFeatures": {
        "jsx": true,
        "objectLiteralShorthandMethods": true,
        "modules": true,
        "blockBindings": true
    },
    "ext": ".js,.jsx"
}
