web:
  image: lunohq/web-dev
  ports:
    - "3000:3000"
  environment:
    - NODE_ENV=development
    - REMOTE_API_ENDPOINT=http://services/v1/
  external_links:
    - services_services_1:services
  log_opt:
    max-size: "100k"
    max-file: "20"
