<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%=o.htmlWebpackPlugin.options.title || 'Redux React Router Async Example'%}</title>

        {% if (o.htmlWebpackPlugin.files.favicon) { %}
        <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
        {% } %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

        <!-- Begin Google Log In -->
        <script src="https://apis.google.com/js/client.js" async defer></script>
        <!-- End Google Log In -->
        <!-- Begin Google Maps -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <!-- End Google Maps -->
    </head>
    <body class="layout">
        <div class="js-content"></div>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
        {% } %}
    </body>
</html>
