// colors
$colors-olive: #558920;
$colors-tumeric: #CEC248;
$colors-shakespeare: #5CA7CF;
$colors-sienna: #D88E40;
$colors-violet: #972FAD;
$colors-fuchsia: #8B4CC7;
$colors-darkGray: #1F2532;

// layout
$vertical-unit: 15px;
$horizontal-unit: 10px;

// Default Colors
$canvasColor: rgb(247, 249, 250);
$tintColor: rgb(122, 142, 255);
$lightTextColor: rgba(0, 0, 0, 0.5);

// Colors
$black: #000000;
$lightBlack: #616166;
$extraLightBlack: #a2a2a9;
