@import 'lib/blur';
@import 'lib/reset';
@import 'lib/flexboxgrid';

@import 'globals';

@import 'layout/content';
@import 'layout/stack';

@import 'modules/detail_header';
@import 'modules/editor';
@import 'modules/extended_profile';
@import 'modules/fonts';
@import 'modules/header';
@import 'modules/item_detail';
@import 'modules/location_tile';
@import 'modules/profile_tile';
@import 'modules/profile_edit_form';
@import 'modules/search';

@import '../../../node_modules/trix/dist/trix.css';

body, html {
    margin: 0;
    height: 100%;
}

h1, h2 {
    font-weight: 300;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrap {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

body .row {
    margin: 0px;
}

* {
    // everyone really just wants this
    // let's stop thinking about subtracting padding from width
    box-sizing: border-box;
}

.no-padding {
    padding: 0;
}

.full-width {
    width: 100%;
}
