// colors
$colors-olive: #558920;
$colors-tumeric: #CEC248;
$colors-shakespeare: #5CA7CF;
$colors-sienna: #D88E40;
$colors-violet: #972FAD;
$colors-fuchsia: #8B4CC7;
$colors-darkGray: #1F2532;

// layout
$vertical-unit: 10px;
$horizontal-unit: 10px;
