@import 'lib/reset';
@import 'lib/flexboxgrid';

@import 'globals';

@import 'layout/content';
@import 'layout/stack';

@import 'modules/extended_profile';
@import 'modules/fonts';
@import 'modules/header';
@import 'modules/item_detail';
@import 'modules/profile_tile';

h1, h2 {
    font-weight: 300;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrap {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

body .row {
    margin: 0px;
}

* {
    // everyone really just wants this
    // let's stop thinking about subtracting padding from width
    box-sizing: border-box;
}
