a:link.team-detail-header-coordinator {
    color: white;
    text-decoration: none;
}

a:visited.team-detail-header-coordinator {
    color: white;
    text-decoration: none;
}

a:hover.team-detail-header-coordinator {
    color: white;
    text-decoration: underline;
}
