$fontSize: 19px;
$marginTop: 28px;
$tintColor: rgb(122, 142, 255);
$toolbarHighlightColor: rgba(122, 142, 255, 0.2);

/* Trix Toolbar */

trix-toolbar {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
    background-color: $toolbarHighlightColor;
}

trix-toolbar .button_group {
    border: 0;
    border-radius: 0;
    margin: 0;
}

trix-toolbar .button_groups {
    height: 35px;
}

trix-toolbar .button_group button, trix-toolbar .button_group input[type=button] {
    width: 40px;
    height: 35px;
    border: 0;
    border-radius: 0;
}

trix-toolbar .dialogs .dialog input[type=button] {
    font-size: 14px;
    height: 30px;
    opacity: 0.5;
    padding: 1px 10px 0 8px;
    width: 50px;
}

trix-toolbar .dialogs .dialog input[type=button]:first-child {
    color: $tintColor;
    opacity: 1;
}

trix-toolbar .dialog.active.link_dialog .link_url_fields input[type=url] {
    font-size: 15px;
    height: 32px;
    line-height: 22px;
    padding: 10px 6px;
}

trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
    border: 0;
}

trix-toolbar .button_group.text_tools > .strike,
trix-toolbar .button_group.block_tools > .quote,
trix-toolbar .button_group.block_tools .block-level,
trix-toolbar .button_group.history_tools {
    display: none;
}

trix-toolbar .dialog.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 3px 10px #bfbfbf;
    border-top: 3px solid $toolbarHighlightColor;
    border-radius: 4px;
    z-index: 5;
}

/* Editor */

.leditor, trix-editor.leditor {
    border: 0;
    border-radius: 0;
    color: rgba(0,0,0,0.8);
    margin: 0;
    min-height: 100px;
    outline: none;
    padding: 16px 0;
}

.postContent a, .leditor a {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(122, 142, 255, 0) 50%, rgba(122, 142, 255, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 22px;
    color: rgb(122, 142, 255);
    text-decoration: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(122, 142, 255, 0.3);
}

.postContent a.hashtag, .leditor a.hashtag {
    background-image: none;
    cursor: pointer;
    word-wrap: break-word;
}

.leditor b, .leditor strong {
    font-weight: bold;
}

.leditor blockquote {
    border-left: 3px solid rgba(0,0,0,0.8);
    font-weight: 400;
    font-style: italic;
    font-size: $fontSize;
    line-height: 1.58;
    letter-spacing: -0.003em;
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 3px;
}

.leditor em, .leditor i {
    font-style: italic;
}

.leditor h2:first-child {
    margin-top: 0;
}

.leditor h2 {
    color: rgba(0,0,0,0.8);
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    margin-top: 56px;
}

.leditor h3:first-child {
    margin-top: 0;
}

.leditor h3 {
    color: rgba(0,0,0,0.44);
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.022em;
    margin-top: 39px;
}

.leditor *:first-child {
    margin-top: 0;
}

.leditor div {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-style: normal;
    font-size: $fontSize;
    line-height: 1.68;
    letter-spacing: -0.003em;
    margin-top: $marginTop;
}

.leditor ui, .leditor ol {
    counter-reset: post;
    margin-top: $marginTop;
}

.leditor li {
    font-size: $fontSize;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    margin-left: 30px;
}

.leditor ol>li:before {
    counter-increment: post;
    content: counter(post) ".";
    font-feature-settings: "liga" on,"lnum" on;
    padding-right: 12px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on,"lnum" on;
    -webkit-font-feature-settings: "liga" on,"lnum" on;
    -webkit-font-smoothing: antialiased;
}

.leditor li:before {
    box-sizing: border-box;
    display: inline-block;
    font-size: $fontSize;
    margin-left: -58px;
    position: absolute;
    text-align: right;
    width: 58px;
}

.leditor ul > li::before {
    content: "•";
    padding-top: 4px;
    padding-right: 15px;
}

.leditor pre,
.leditor code,
.leditor kbd,
.leditor samp {
    background: rgba(0,0,0,0.05);
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
    font-size: 16px;
    line-height: 22px;
    margin-top: $marginTop;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
}
