.leditor {
    outline: none;
    min-height: 100px;
}

.postContent a, .leditor a {
    color: rgb(122, 142, 255);
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(122, 142, 255, 0) 50%, rgba(122, 142, 255, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 22px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(122, 142, 255, 0.3);
}

.postContent a.hashtag, .leditor a.hashtag {
    background-image: none;
    cursor: pointer;
}

.leditor b, .leditor strong {
    font-weight: bold;
}

.leditor blockquote {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    border-left: 3px solid rgba(0,0,0,0.8);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 3px;
}

.leditor em, .leditor i {
    font-style: italic;
}

.leditor h2:first-child {
    margin-top: 0;
}

.leditor h2 {
    color: rgba(0,0,0,0.8);
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    margin-top: 56px;
}

.leditor h3:first-child {
    margin-top: 0;
}

.leditor h3 {
    color: rgba(0,0,0,0.44);
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.022em;
    margin-top: 39px;
}

.leditor p:first-child {
    margin-top: 0;
}

.leditor p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    margin-top: 29px;
}
