// User actions settings
$action-text-size: 1.1em;

$call-to-action-background-color: #FF0000;
$call-to-action-text-color: #FFFFFF;

$secondary-action-background-color: #333333;
$secondary-action-text-color: #FFFFFF;

// Icon settings
$large-icon-size: 1.1em;
